<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.UserMapper">
    <select id="selectStatisticsCount" resultType="Integer">
        select count(*) from user where datediff(now(),reg_date)&lt;#{day}
    </select>
    <select id="selectProvince" resultType="Pro" parameterType="String">
        select count(*) value,province name from user where sex=#{sex} group by province
    </select>
</mapper>





